<div class="container">
    <h1 class="h1" style="text-align: center;">{{titulo}}</h1>
      <br>
  
        <form class="form-group row">
          <div class="form-group col-md-3">
            <label for="nombre">Nombre:</label>
            <input type="text"  id="nombre" name="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">
          </div>
          <div class="form-group col-md-3">
            <label for="apellido">Apellido:</label>
            <input type="text"  id="apellido" name="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="cuadroApellido">
          </div>
          <div class="form-group col-md-3">
            <label for="Cargo">Cargo:</label>
            <input type="text"  id="cargo" name="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="cuadroCargo">
          </div>
          <div class="form-group col-md-3">
            <label for="Salario">Salario:</label>
            <input type="number"  id="salario" name="salario" placeholder="Salario" class="form-control" [(ngModel)]="cuadroSalario">
          </div>
          <div class="col">
            <input type="submit" class="btn btn-success" value="Ingresar" (click)="enviar()" style="margin-top: 5px;">
            <input type="submit" class="btn btn-danger" value="Retirar" (click)="retirar()" style="margin-top: 5px;margin-left: 15px;">
          </div>
  
        </form>
  </div>
  
  <br>
  
  <app-hijo *ngFor="let empleados of array, let i = index" [empleadosEnlace]="empleados" [indice]="i"></app-hijo>
